{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Documentation ⚠️ (WIP)</h1>
  <p class="lead">Please come back later. We are working on the documentation...</p>


  The logic to calculate the consumption is based on the DPS Algorithms on our public documentation:
  <br>
<h4>POD-hour calculation</h4>
<a target="_blank" href="https://docs.dynatrace.com/docs/shortlink/dps-containers#billing-granularity-for-pod-hour-consumption">https://docs.dynatrace.com/docs/shortlink/dps-containers#billing-granularity-for-pod-hour-consumption</a>
<br>

<h4>GiBHour calculation </h4>
<a target="_blank" href="https://docs.dynatrace.com/docs/manage/subscriptions-and-licensing/dynatrace-platform-subscription/host-monitoring#gib-hour-calculation-for-containers-and-application-only-monitoring">https://docs.dynatrace.com/docs/manage/subscriptions-and-licensing/dynatrace-platform-subscription/host-monitoring#gib-hour-calculation-for-containers-and-application-only-monitoring</a>



</div>
{% endblock %}