{% extends "base.html" %}

{% block title %} K8stimator - Kubernetes DPS Costs Estimator {% endblock %}

{% block body %}

<div>
    <h3 style="text-align: center;">K8stimator - Kubernetes DPS Costs Estimator </h3>
</div>


{% if estimate.errors > '' %}

<div class="error">
    <p><strong style="color: black;">⚠️ There was an error: </strong>{{ estimate.errors }}</p>
</div>
{% endif %}

{% if estimate.estimation_running %}

Estimation is being generated for Tenant {{ estimate.tenant_url }}...

please be patient

{% else %}

<form class="pure-form" action="/" method="POST">
    <div class="estimate-form">
        <div class="control-group">
            {% if inside_vpn == "True" %}
            <div>
                {% else %}
                <div style="display:none;">
                    {% endif %}
                    <label>
                        <input type="radio" name="saasRadio" value="SaaS" checked="True">
                        SaaS
                    </label>
                    <label>
                        <input type="radio" name="saasRadio" value="Managed">
                        Managed
                    </label>
                </div>
                <div class="SaaS selectt">
                    <label for="saas_url">Tenant URL</label>
                    <input type="text" name="saas_url" placeholder="https://tenantid.live.dynatrace.com" size="100%"
                        value="{{ estimate.tenant_url }}">
                    <br>
                </div>
                <div class="Managed selectt" style="display: none;">
                    <label for="managed_url">Managed MC Url</label>
                    <input type="text" name="managed_url"
                        placeholder="https://{cluster-id}-{nodeNr}.managed.internal.dynatrace.com:8021/e/{managed-tenant-id}"
                        size="100%" value="{{ estimate.tenant_url }}">
                    <br>
                    <label for="ssoCSRFCookie">ssoCSRFCookie</label>
                    <input type="text" name="ssoCSRFCookie" placeholder="ssoCSRFCookie"
                        value="{{ estimate.ssoCSRFCookie }}">
                    <br>
                    <label for="jsessionId">jsessionId</label>
                    <input type="text" name="jsessionId" placeholder="jsessionId" value="{{ estimate.jsessionId }}">
                    <br>
                </div>
                <label for="api_token">API Token</label>
                <input type="password" name="api_token" placeholder="dt0c01.xxxxx..." size="100%"
                    value="{{ estimate.api_token }}">
                <br>
                <label for="resolution">Resolution</label>
                <input type="text" name="resolution" placeholder="1h" value="{{ estimate.resolution }}">
                <br>
                <label for="from_timeframe">From Timeframe</label>
                <input type="text" name="from_timeframe" placeholder="YYYY-MM-DD" value="{{ estimate.from_timeframe }}">
                <br>
                <label for="iterations">Iterations</label>
                <input type="text" name="iterations" placeholder="4" value="{{ estimate.iterations }}">
                <br>
                <label for="days_per_iteration">Days per iteration</label>
                <input type="text" name="days_per_iteration" placeholder="7" value="{{ estimate.days_per_iteration }}">
                <br>
            </div>
            <input type="submit" value="Estimate costs" class="btn btn-primary btn-lg btn-block">
        </div>

</form>
{% endif %}

<br>
{% if estimate.console or estimate.estimation_running %}

<div>
    <canvas id="estimationChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('estimationChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ estimate.chart_labels | safe }},
        datasets: [
        {
            label: 'Pod-hours',
            data: {{ estimate.chart_values_pod | safe }},
        borderWidth: 1,
        yAxisID: 'pod'
        },
        {
            label: 'Gib-hours',
            data: {{ estimate.chart_values_gib | safe }},
        borderWidth: 1,
        yAxisID: 'gib',
        }
    ]
      },
        options: {
        responsive: true,
        interaction: {
          mode: 'index',
          intersect: false,
        },
        scales: {
            pod: {
                beginAtZero: true,
                position: 'left',
                title: {
                display: true,
                 text: 'Pod-hour'
                 }
            },
            gib:{
                position: 'right',
                title: {
                display: true,
                 text: 'Gib-hour'
                 },
            grid: {
             drawOnChartArea: false, // only want the grid lines for one axis to show up
            },
            }
        },
        plugins: {
            title: {
            display: true,
            text: 'Kubernetes DPS consumption estimation',
      }
    }

    }
    });
</script>
<br>
<div class="console">

    Estimating costs for Tenant: {{ estimate.tenant_url}} from {{ estimate.from_timeframe }} <br>
    Doing {{ estimate.iterations }} iterations with {{ estimate.days_per_iteration }} days per iteration.<br>
    -------------------------------------------------- <br>
    {{ estimate.console | safe }}
    <br>
    -------------------------------------------------- <br>
    Summary:<br>
    Total Pod Hours: {{ "{:,.2f}".format(estimate.t_pod_h) }} <br>
    Total Gib Hours: {{ "{:,.2f}".format(estimate.t_gib_h) }} <br>
    Total shortliving instances (App Observability): {{ "{:,}".format(estimate.t_shortliving_instances) }} <br>
</div>
{% endif %}

<div style="font-size: small;">
    <em>Is Dynatrace not installed? or you want to make an estimation based on Kubectl commands and snapshots? <b><a
                href="/kubectl">Try out the shell script -- estimate.sh --</a></b>
    </em>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[name$='saasRadio']").
            click(
                function () {
                    const inputValue =
                        $(this).attr("value");
                    const targetBox =
                        $("." + inputValue);
                    $(".selectt").
                        not(targetBox).hide();
                    $(targetBox).show();
                }
            );
    }); 
</script>

{% endblock %}